.App-container {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.blue-gradient {
  background: radial-gradient(
    circle at 10% 20%,
    rgba(118, 224, 194, 1),
    rgba(89, 202, 218, 1)
  );
}

.orange-gradient {
  background: radial-gradient(
    circle at 10% 20%,
    rgba(246, 184, 104, 1),
    rgba(238, 107, 45, 1)
  );
}

.App-heading {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

@media (max-width: 768px) {
  .App-heading {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
}

/* Small screens (mobile) */
@media (max-width: 480px) {
  .App-heading {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
